@import "../shared";

.YButton {
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: $primary-red;
  cursor: pointer;
  width: fit-content;
  padding: 10px 12px;

  .TextButton {
    white-space: nowrap;
  }

  &--primary {
    background-color: $primary-red;
    &:hover {
      background-color: darken($primary-red, 10%);
    }
  }

  &--secondary {
    background-color: $tertiary-light;
    border: 1px solid $border-primary;
    &:hover {
      background-color: darken($tertiary-light, 10%);
    }
  }
}
