@import "/src/styles/shared";

.Card {
  background-color: $secondary-light;
  border-radius: 4px;
  border: 1px solid $border-primary;
  max-width: 510px;

  padding: 15px;

  .CardHeader {
    display: flex;
    align-items: flex-start;
    font-weight: 400 !important;
  }

  .CardContent {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 480px;
    margin-top: 10px;

    @include mobile {
      width: 100%;
    }
  }
}

.PricingCard {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 20px;
  .PricingHeader {
    font-size: 20px;
  }

  .PricingAmount {
    font-size: 36px;
    font-weight: 700 !important;
  }

  .PricingUnits {
    font-size: 13px;
    width: 20px;
    color: #1a1a1a;
    opacity: 0.5;
    font-weight: 300 !important;
  }

  .SubscribeButton {
    width: 100%;
    min-width: 200px;
  }
}

.AccountListPage {
  background-color: $tertiary-light;
  display: flex;
  flex: 1;
  height: fit-content;
  min-height: 100%;

  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;

  .PageContent {
    max-width: 1080px;
    width: 100%;
  }

  padding: 10px;
}

.TopNavBar {
  display: flex;
  gap: 20px;
  padding: 8px;
  .Text {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
