// Component Colors
$primary-light: #ffffff;
$secondary-light: #f7f5ef;
$tertiary-light: #faf9f6;
$primary-red: #f44236;
$light-grey: #d9d9d9;
$dark-grey: #a6a6a6;

// Text
$text-primary: #000000;
$text-grey: #000c;
$text-light-grey: rgba(0, 0, 0, 0.5);

$border-primary: #e5e3da;
